<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xjhqre.admin.mapper.TagMapper">

    <!-- 统计标签引用 -->
    <select id="countRef" resultType="java.lang.Integer">
        select count(*)
        from t_article_tag tat,
             t_tag tt,
             t_article ta
        where tat.tag_id = tt.tag_id
          and tat.article_id = ta.article_id
          and tt.tag_id = #{tagId}
          and ta.status = '2'
    </select>
</mapper>