<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xjhqre.common.mapper.ArticleMapper">

    <sql id="selectArticleVo">
        select article_id,
               title,
               summary,
               content,
               author,
               view_count,
               thumb_count,
               collect_count,
               cover,
               status,
               is_publish,
               sort,
               open_comment,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from t_article
    </sql>

    <!-- 根据文章id查询文章详情 -->
    <select id="selectArticleById" resultType="com.xjhqre.common.domain.portal.Article">
        <include refid="selectArticleVo"/>
        where article_id = #{articleId}
    </select>
</mapper>