<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xjhqre.portal.mapper.TagMapper">

    <!-- 查询文章分类列表-->
    <select id="listTag" resultType="com.xjhqre.common.domain.portal.Tag">
        select *
        from t_tag
        limit #{limit}
    </select>

    <!-- 分页查询标签列表 -->
    <select id="findTag" resultType="com.xjhqre.common.domain.portal.Tag">
        select *
        from t_tag
        where del_flag = '0'
        <if test="tag.name != null and tag.name != ''">
            name = #{tag.name}
        </if>
        order by sort desc
    </select>

    <!-- 引用数量-1 -->
    <update id="subRefCount">
        update t_tag
        set ref_count = ref_count - 1
        where tag_id = #{tagId}
    </update>

    <update id="addRefCount">
        update t_tag
        set ref_count = ref_count + 1
        where tag_id = #{tagId}
    </update>
</mapper>